@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  TODO: Fix variables (Must be reflected in tailwind.config.js
*/

@layer base {
	:root {
		--background: 0 0% 4.3%;
		--foreground: 231 100% 98.6%;
		--surface: 228 16% 9%;
		--surface-foreground: 231 11% 12%;
		--primary: 277 98.6% 28.4%;
		--muted: 0 0% 50%;

		--rose: 341 86.9% 58%;
		--orange: 10.2 100% 61.8%;
		--blue: 235.1 90.2% 60%;
		--fuchsia: 300 69.2% 56.7%;

		--muted-foreground: 0 0% 45.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--border: 0 0% 50.8%;
		--input: 0 0% 89.8%;

		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 83.1%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background: hsl(var(--surface));
}

::-webkit-scrollbar-thumb {
	background: hsl(var(--surface));
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
